h2 {
    font-size: 3.7rem;
    padding-left: 40px;
    margin-bottom: 15px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/****** section intro *********/
.home h1 {
    font-size: 10rem;
}

.homeIntro {
    display: flex;
    flex-direction: row;
    padding: 60px 80px;
    justify-content: center;
    align-items: end;
}

.homeIntro p {
    width: 70%;
    font-size: 1.6rem;
}

.socialsIntro a {
    font-size: 2.2rem;
}

.socialsIntro li {
    background-color: #74070e;
    margin: 15px 0;
    padding: 10px 15px;
    border: solid 1px #F2ECEC;
    border-radius: 100%;
}

.socialsIntro li:hover {
    background-color: #5A060E;
    filter: drop-shadow(0 0 3px #F2ECEC);
}


/********* section projets *********/
.homePortfolio {
    width: 100%;
}

.miniCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.showMore {
    position: relative;
    display: flex;
    justify-content: right;
    text-decoration: none;
    right: 70px;
    font-size: 1.4rem;
    width: 100%;
    align-items: right;
}

.showMore:hover {
    text-decoration: underline;
}

/************ section outils **********/
.homeOutils {
    width: 100%;
}

.outilContainer {
    padding: 40px;
    width: 90%;
    display: flex;
    gap: 1.1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #824949 transparent;
}

.outilContainer::-webkit-scrollbar {
    height: 8px;
}

.outilContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.outilContainer::-webkit-scrollbar-track {
    background: transparent;
}


/********** section à propos *********/

.homeAbout {
    display: flex;
    justify-content: center;
}

/*********** section langages **********/
.homeSkills {
    width: 100%;
}

.skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    padding: 40px;
}

/************ section contact **********/