.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 20px;
}

.notFound h1 {
    font-size: 5em;
}

.notFound p {
    font-size: 1.4rem;
}