.projetId {
    margin-top: 150px;
    width: 100%;
}

.projetTitle {
    display: flex;
    align-items: end;
    gap: 30px;
    margin-bottom: 150px;
}

.projetTitle h1 {
    font-size: 5rem;
}

.projetTags {
    padding-bottom: 25px;
    width: 20%;
}

.projet .edit {
    margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 100px;
    border: none;
    background-color: #bc1620;
}

.projetMinia {
    display: flex;
    flex-direction: row;
    background-color: rgba(116, 7, 14, 0.3);
    filter: drop-shadow(0 0 5px rgb(35, 14, 14));
    border: solid 0.5px #74070E;
    border-radius: 50px;
    gap: 20px;
    margin: 85px 0px;
    height: 500px;
}

.projetMinia img {
    object-fit: cover;
    padding: 5px;
    border-radius: 55px;
    width: 100%;
    height: 98%;
}

.projetMiniaImg {
    width: 45%;
}

.projetDescription {
    display: flex;
    flex-direction: column;
    padding: 35px;
    justify-content: center;
    width: 60%;
}

.projetDescription h2 {
    padding-left: 0;
}

.projetDescription p {
    padding: 30px;
    font-size: 1.3rem;
}

.projetContrainte {
    background-color: rgba(116, 7, 14, 0.3);
    filter: drop-shadow(0 0 5px rgb(35, 14, 14));
    border: solid 0.5px #74070E;
    border-radius: 50px;
    margin-bottom: 85px;
    padding: 40px;
}

.projetContrainte p {
    padding: 30px;
    font-size: 1.4rem;
}

.projetBtn {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.projet a {
    text-decoration: none;
}

.projet .contact {
    margin: 200px 0;
}

@media (max-width: 1024px) {

    .projet {
        margin: 15px;
        width: 100%;
    }

    .projetId {
        margin-top: 100px;
        padding: 0;
    }

    .projetTitle h1 {
        font-size: 4rem;
        width: 60%;
    }

    .projetMinia {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .projetMiniaImg {
        width: 99%;
        padding: 0;
        height: 500px;
    }

    .projetDescription {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .projetTitle {
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
    }

    .projetDescription {
        padding: 5px;
        font-size: 1rem;
    }

    .projetDescription h2 {
        font-size: 1.5rem;
    }

    .projetDescription p {
        padding: 5px;
        font-size: 1rem;
    }

    .projetContrainte h2 {
        font-size: 1.5rem;
    }

    .projetContrainte p { 
        padding: 5px;
        font-size: 1rem;
    }
}