.card {
    filter: drop-shadow(0 0 4px rgb(35, 14, 14));
    display: flex;
    flex-direction: column;
    height: 350px;
    border-radius: 55%;
}

.card img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.card a {
    
    text-decoration: none;
    height: 100%;
}

.cardTitle {
    position: relative;
    font-size: 3rem;
    padding: 15px;
    padding-left: 30px;
    bottom: 110px;
}

.card .trash {
    position: absolute;
    left: 84%;
    bottom: 95%;
    padding: 10px 11px;
    border-radius: 100%;
    border: none;
    background-color: #bc1620;
}

.card .edit {
    position: absolute;
    left: 76%;
    bottom: 95%;
    padding: 10px 10px;
    border-radius: 100px;
    border: none;
    background-color: #bc1620;
}