.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .contact h2 {
        text-align: center;
        padding: 0 5px;
    }
}