.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: #38040e;
}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footerSocials a {
    font-size: 2rem;
}

.footerBtn {
    border: none;
    background-color: #38040e;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}

.loginModal {
    margin-top: 10px;
}

.loginInput {
    display: flex;
    gap: 5px;
}

.loginInput input{
    color: black;
}

.loginBtn button {
    border: none;
    background-color: #38040e;
    padding-top: 7px;
    padding-right: 10px;
}

.loginBtn button:hover {
    text-decoration: underline;
}