*{
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url('../images/background_dark_theme.svg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: #5A060E;
}

section {
    margin-top: 150px;
    margin-bottom: 250px;
    max-width: 1200px;
}

/*main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

@font-face {
    font-family: 'Clash Display';
    src: url(../Fonts/OTF/ClashDisplay-Bold.otf);
} 

h1, h2, h3, h4{
    font-family: 'Clash Display';
}

.title {
    display: flex;
    gap: 15px;
}

ul {
    list-style-type: none;
}